.env
.env.local
.env.*
!.env.example

.git
.github
.next
node_modules

.DS_Store
*.log
*.tgz
*.tsbuildinfo

bgd-labs-aave-address-book-4.44.22.tgz
removed_bg_lily.png

vercel.json
mcp.json
setup.sh
hackathon.md

package-lock.json
bun.lock

supabase/
